.listItem {
  display: list-item;
  list-style: none;
  flex-basis: 33.3%;
}

@media (max-width: 1440px) and (min-width: 925px) {
  .listItem {
    flex-basis: 50%;
  }
}

@media (max-width: 924px) {
  .listItem {
    flex-basis: 100%;
  }
}

li .item {
  display: flex;
  padding: 1rem;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px;
  border-radius: 0.5rem;
  min-height: 10rem;
}

.imageWrapper-cookie,
.imageWrapper {
  min-width: 8rem;
  width: 8rem;
  height: 8rem;
  background-color: #ffeee2;
  border-radius: 9999px;
  margin: 0px 0.5rem 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  width: 50%;
  height: 50%;
}

.imageWrapper-cookie img {
  width: 60%;
  height: 70%;
}

.infoWrapper {
  margin-right: auto;
  width: 100%;
}

.info-title {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #ce6d39;
  font-weight: 700;
  font-size: 17px;
}

.info-title .partner {
  background-color: #f17f42;
  color: white;
  border-radius: 9999px;
  width: 4.4rem;
  height: 1.8rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: auto;
  line-height: 1.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.gradeContainer {
  text-align: left;
}

.gradeContainer strong {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin-bottom: 0.5rem;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 12px;
}

.Common strong {
  background-color: RGB(163, 125, 73);
}

.Rare strong {
  background-color: RGB(60, 111, 156);
}

.Epic strong {
  background-color: RGB(157, 62, 145);
}

.Legendary strong {
  background: linear-gradient(
    to right,
    RGB(138, 252, 175),
    RGB(109, 192, 249),
    RGB(229, 101, 245)
  );
}

.Special strong {
  background: linear-gradient(to right, RGB(247, 214, 23), RGB(255, 137, 3));
}

.info-first {
  display: flex;
  flex-direction: column;
}

.info-detail {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;
  color: #aa582b;
}

.info-detail li {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 18px;
}

.info-detail li img {
  min-width: 14px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  opacity: 0;
  transition: opacity 200ms ease-out 0s;
}

.info-detail li img.loaded {
  opacity: 1;
}

.petSkills {
  list-style: none;
  padding: 0;
}

.petSkill {
  margin-bottom: 3px;
}
