:root {
  --text-border: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000,
    1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000,
    2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000,
    -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
    -2px -1px 0 #000;
}

.detail_background {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.detail_container {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png);
  border-radius: 22px;
  border: 2px solid rgb(255, 207, 47);
  width: 100%;
  margin: 15% auto;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
}

@media (max-width: 1440px) and (min-width: 1023px) {
  .detail_container {
    max-width: 700px;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .detail_container {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .detail_container {
    max-width: 400px;
  }
}

.detail_title {
  background-color: rgba(255, 207, 47, 0.7);
  height: 3rem;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.detail_title span {
  width: 90%;
  text-align: center;
  display: inline-block;

  font-size: 24px;
  font-weight: bold;
  color: #7e3310;
  line-height: 3rem;
}

.detail_title button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.detail_content {
  display: flex;
}

.detail_left {
  display: flex;
  flex-direction: column;
}

.detail_left {
  width: 66.6%;
  display: flex;
}

.left_info {
  display: flex;
}

.left_first {
  width: 20%;
}

.left_pet {
  background-color: rgb(97, 41, 15);
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
}

.left_pet span {
  color: white;
  text-shadow: var(--text-border);
  font-size: 18px;
  font-weight: bold;
  margin-top: 0.5rem;
}

.left_pet img {
  width: 5rem;
  height: auto;
  margin: -0.5rem 1rem 0.5rem 1rem;
}

.left_about {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}

.left_about button {
  outline: none;
  border: 2px solid black;
  border-radius: 22px;
  background: rgba(78, 78, 78, 0.5);
  box-shadow: inset 0px 0px 10px 1px white;
  height: 2.8rem;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: var(--text-border);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.left_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.left_second span {
  display: inline-block;

  padding: 1rem 3rem 1rem 3rem;
  height: 2rem;

  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;

  background-color: #b88b71;
  border: 2px solid black;
  border-radius: 22px;
}

.left_second img {
  width: 15rem;
}

.left_third {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
}

.left_third div {
  display: flex;
  flex-direction: column;

  width: 4.5rem;
  height: 4.5rem;

  margin: 0.5rem;

  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 10px 1px white;
  border-radius: 12px;
}

.left_third div span {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: var(--text-border);
}

.left_third div:nth-child(2) span {
  font-size: 14px;
}

.left_health {
  margin: 1rem;
  margin-right: 2rem;
  height: 3rem;

  font-size: 20px;
  font-weight: bold;
  line-height: 2.5rem;
  color: white;
  text-shadow: var(--text-border);

  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(255, 207, 47);
  border-radius: 10px;
}

.detail_right {
  width: 33.3%;
}

.detail_right h2 {
  text-align: left;
  color: white;
  text-shadow: var(--text-border);
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.detail_right h3 {
  text-align: left;
  color: white;
  text-shadow: var(--text-border);
  font-size: 21px;
  font-weight: bold;
  margin-top: 0;
}

.detail_right p {
  text-align: left;
  color: #b88b71;
  text-shadow: var(--text-border);
  font-size: 17px;
  font-weight: bold;
  overflow: auto;
}
