.itemTitle {
  color: #CE6D39;
  font-size: 18px;
  font-weight: 600;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  max-width: 1500px;
  padding-inline-start: 0.5rem;
  padding-inline-end: unset;
}

@media (max-width: 1440px) and (min-width: 1023px) {
  .listItem {
    max-width: 1440px;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .listItem {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .listItem {
    max-width: 768px;
  }
}